{% extends 'base.html.twig'%}

{% block body %}

<div style="margin:50px;">
    <h2 class="lead">{{title}} </h2>
    <a href="{{path('addbook')}}" class="lead" style="font-size: 14pt;">Добавить книгу</a>
</div>

{% endblock %}